@{
    ViewData["Title"] = "Shoes Page";
}
@{
    <div class="text-center">
        <h1 class="display-4">Shoes</h1>
        <p class="text-center">Our shoes:</p>
    </div>
    <div class="flex-md-wrap">
        <figure class="figure">
            <img src="~/images/adidas-1853899_640.jpg" class="figure-img img-fluid rounded" style="width: 30%;" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/beach-1057766_640.jpg" class="figure-img img-fluid rounded" style="width: 30%; alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/black-and-white-1282292_640.jpg" class="figure-img img-fluid rounded" style="width: 30%; alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/blue-2537963_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/boot-2700477_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/boots-1638873_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/boots-181744_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/boots-2353889_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/boots-2374145_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/converse-2387917_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/converse-2521534_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/converse-4367266_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/converse-932667_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/countryside-1846093_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/fashion-2697009_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/fashion-4013456_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/fashion-5515135_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/feet-1840619_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/feet-349687_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/green-932350_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/grey-1838736_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/kicks-2213619_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/leather-shoes-505338_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/nike-5020363_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/nike-5020608_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/nike-5126389_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/nike-5418992_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/outdoors-3243725_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/product-2310506_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/puma-1838735_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/puma-3706914_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/reebok-2061623_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/running-shoe-321199_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/running-shoe-423164_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/shoes-1011596_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/shoes-1433925_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/shoes-1614047_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/shoes-1897708_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/shoes-2155404_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/shoes-2216498_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/shoes-2265959_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/shoes-2334459_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/shoes-343471_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/shoes-3850175_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/shoes-4158783_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/shoes-434918_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/shoes-4890686_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/shoes-4955029_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/shoes-959340_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/slippers-5510231_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/sneaker-1024981_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/sneaker-5067977_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/sneakers-2853769_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/sneakers-3714730_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/sneakers-6632816_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/sneakers-8001394_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/sports-shoe-2465915_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/vans-shoes-5244832_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/woman-2609573_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
            <img src="~/images/woman-3377839_640.jpg" class="figure-img img-fluid rounded" style="width: 30%" alt="shoes">
            <figcaption class="figure-caption">Relevant info of shoes here.</figcaption>
        </figure>
    </div>
   
   
}

